layout {
  default_tab_template {
    pane size=1 borderless=true {
      plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {
        color_rosewater    "$ZELLIJ_COLOR_ROSEWATER"
        color_flamingo     "$ZELLIJ_COLOR_FLAMINGO"
        color_pink         "$ZELLIJ_COLOR_PINK"
        color_mauve        "$ZELLIJ_COLOR_MAUVE"
        color_red          "$ZELLIJ_COLOR_RED"
        color_maroon       "$ZELLIJ_COLOR_MAROON"
        color_peach        "$ZELLIJ_COLOR_PEACH"
        color_yellow       "$ZELLIJ_COLOR_YELLOW"
        color_green        "$ZELLIJ_COLOR_GREEN"
        color_teal         "$ZELLIJ_COLOR_TEAL"
        color_sky          "$ZELLIJ_COLOR_SKY"
        color_sapphire     "$ZELLIJ_COLOR_SAPPHIRE"
        color_blue         "$ZELLIJ_COLOR_BLUE"
        color_lavender     "$ZELLIJ_COLOR_LAVENDER"
        color_text         "$ZELLIJ_COLOR_TEXT"
        color_subtext1     "$ZELLIJ_COLOR_SUBTEXT1"
        color_subtext0     "$ZELLIJ_COLOR_SUBTEXT0"
        color_overlay2     "$ZELLIJ_COLOR_OVERLAY2"
        color_overlay1     "$ZELLIJ_COLOR_OVERLAY1"
        color_overlay0     "$ZELLIJ_COLOR_OVERLAY0"
        color_surface2     "$ZELLIJ_COLOR_SURFACE2"
        color_surface1     "$ZELLIJ_COLOR_SURFACE1"
        color_surface0     "$ZELLIJ_COLOR_SURFACE0"
        color_surface_dark "$ZELLIJ_COLOR_SURFACE_DARK"
        color_base         "$ZELLIJ_COLOR_BASE"
        color_mantle       "$ZELLIJ_COLOR_MANTLE"
        color_crust        "$ZELLIJ_COLOR_CRUST"
        color_silver       "$ZELLIJ_COLOR_SILVER"
        color_gold         "$ZELLIJ_COLOR_GOLD"
        color_silver_light "$ZELLIJ_COLOR_SILVER_LIGHT"
        color_black        "$ZELLIJ_COLOR_BLACK"
        color_gray         "$ZELLIJ_COLOR_GRAY"

        format_left   "#[fg=$surface0] ▓#[bg=$surface0,fg=$silver_light]{session} #[bg=$surface_dark,fg=$surface0]{mode} {tabs}"
        format_center "{notifications}"
        format_right  "#[fg=$silver]#[bg=$silver,fg=$surface_dark] 󰃭 #[bg=$silver,fg=$surface_dark] {datetime}#[fg=$silver]▓ "
        format_space  ""
        format_hide_on_overlength "true"
        format_precedence "lrc"

        border_enabled  "false"
        border_char     "─"
        border_format   "{char}"
        border_position "none"

        hide_frame_for_single_pane "false"

        mode_normal        "#[bg=$surface_dark,fg=$blue,bold] 󰿆 #[fg=$surface_dark]"
        mode_tmux          "#[bg=$surface_dark,fg=$mauve,bold] TMUX #[fg=$surface_dark]"
        mode_locked        "#[bg=$surface_dark,fg=$red,bold] 󰍁 #[fg=$surface_dark]"
        mode_pane          "#[bg=$surface_dark,fg=$teal,bold]  #[fg=$surface_dark]"
        mode_tab           "#[bg=$surface_dark,fg=$teal,bold]  #[fg=$surface_dark]"
        mode_scroll        "#[bg=$surface_dark,fg=$flamingo,bold] SCROLL #[fg=$surface_dark]"
        mode_enter_search  "#[bg=$surface_dark,fg=$flamingo,bold] ENT-SEARCH #[fg=$surface_dark]"
        mode_search        "#[bg=$surface_dark,fg=$flamingo,bold] SEARCHARCH #[fg=$surface_dark]"
        mode_resize        "#[bg=$surface_dark,fg=$yellow,bold] RESIZE #[fg=$surface_dark]"
        mode_rename_tab    "#[bg=$surface_dark,fg=$yellow,bold] RENAME-TAB #[fg=$surface_dark]"
        mode_rename_pane   "#[bg=$surface_dark,fg=$yellow,bold] RENAME-PANE #[fg=$surface_dark]"
        mode_move          "#[bg=$surface_dark,fg=$yellow,bold] MOVE #[fg=$surface_dark]"
        mode_session       "#[bg=$surface_dark,fg=$pink,bold] SESSION #[fg=$surface_dark]"
        mode_prompt        "#[bg=$surface_dark,fg=$pink,bold] PROMPT #[fg=$surface_dark]"

        tab_normal              "#[fg=$surface0]#[bg=$surface0,fg=$silver_light,bold]{index}#[bg=$surface_dark,fg=$surface0]#[bg=$surface_dark,fg=$silver] {name}{floating_indicator} #[fg=$surface_dark]"
        tab_normal_fullscreen   "#[fg=$surface0]#[bg=$surface0,fg=$silver_light,bold]{index}#[bg=$surface_dark,fg=$surface0]#[bg=$surface_dark,fg=$silver] {name}{fullscreen_indicator} #[fg=$surface_dark]"
        tab_normal_sync         "#[fg=$surface0]#[bg=$surface0,fg=$silver_light,bold]{index}#[bg=$surface_dark,fg=$surface0]#[bg=$surface_dark,fg=$silver] {name}{sync_indicator} #[fg=$surface_dark]"
        tab_active              "#[fg=$silver]#[bg=$silver,fg=$surface_dark,bold]{index}#[bg=$surface0,fg=$silver]#[bg=$surface0,fg=$silver_light,bold] {name}{floating_indicator} #[fg=$surface0]"
        tab_active_fullscreen   "#[fg=$silver]#[bg=$silver,fg=$surface_dark,bold]{index}#[bg=$surface0,fg=$silver]#[bg=$surface0,fg=$silver_light,bold] {name}{fullscreen_indicator} #[fg=$surface0]"
        tab_active_sync         "#[fg=$silver]#[bg=$silver,fg=$surface_dark,bold]{index}#[bg=$surface0,fg=$silver]#[bg=$surface0,fg=$silver_light,bold] {name}{sync_indicator} #[fg=$surface0]"
        tab_separator           " "

        tab_sync_indicator       " "
        tab_fullscreen_indicator " 󰊓"
        tab_floating_indicator   " 󰹙"

        notification_format_unread "#[bg=surface0,fg=$yellow]#[bg=$yellow,fg=$crust] #[bg=$surface1,fg=$yellow] {message}#[fg=$yellow]"
        notification_format_no_notifications ""
        notification_show_interval "10"

        datetime          "{format}"
        datetime_format   "%Y-%m-%d  %H:%M:%S "
        datetime_timezone "Europe/Saratov"
      }
    }
    children
    // pane size=1 borderless=true {
    //   plugin location="zellij:status-bar"
    // }
  }
}
