layout {
  pane size=1 borderless=true {
    plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
      // -- Catppuccin Mocha --
      color_rosewater "#f5e0dc"
      color_flamingo "#f2cdcd"
      color_pink "#f5c2e7"
      color_mauve "#cba6f7"
      color_red "#f38ba8"
      color_maroon "#eba0ac"
      color_peach "#fab387"
      color_yellow "#f9e2af"
      color_green "#a6e3a1"
      color_teal "#94e2d5"
      color_sky "#89dceb"
      color_sapphire "#74c7ec"
      color_blue "#89b4fa"
      color_lavender "#b4befe"
      color_text "#cdd6f4"
      color_subtext1 "#bac2de"
      color_subtext0 "#a6adc8"
      color_overlay2 "#9399b2"
      color_overlay1 "#7f849c"
      color_overlay0 "#6c7086"
      color_surface2 "#585b70"
      color_surface1 "#45475a"
      color_surface0 "#313244"
      color_surface_dark "#282737"
      color_base "#1e1e2e"
      color_mantle "#181825"
      color_crust "#11111b"

      color_silver "#bfc6d4"
      color_gold "#fae3b0"
      color_silver_light "#d9e0ee"
      color_black "#080808"
      color_gray "#595b70"

      format_left   "#[fg=$surface0] ▓#[bg=$surface0,fg=$silver_light]{session} #[bg=$surface_dark,fg=$surface0]{mode} {tabs}"
      format_center "{notifications}"
      format_right  "#[fg=$silver]#[bg=$silver,fg=$surface_dark]󰃭 #[bg=$silver,fg=$surface_dark] {datetime}#[fg=$silver]▓ "
      format_space  ""
      format_hide_on_overlength "true"
      format_precedence "lrc"

      border_enabled  "false"
      border_char     "─"
      border_format   "{char}"
      border_position "none"

      hide_frame_for_single_pane "true"

      mode_normal        "#[bg=$surface_dark,fg=$blue,bold] 󰿆 #[fg=$surface_dark]"
      mode_tmux          "#[bg=$surface_dark,fg=$mauve,bold] TMUX #[fg=$surface_dark]"
      mode_locked        "#[bg=$surface_dark,fg=$red,bold] 󰍁 #[fg=$surface_dark]"
      mode_pane          "#[bg=$surface_dark,fg=$teal,bold]  #[fg=$surface_dark]"
      mode_tab           "#[bg=$surface_dark,fg=$teal,bold]  #[fg=$surface_dark]"
      mode_scroll        "#[bg=$surface_dark,fg=$flamingo,bold] SCROLL #[fg=$surface_dark]"
      mode_enter_search  "#[bg=$surface_dark,fg=$flamingo,bold] ENT-SEARCH #[fg=$surface_dark]"
      mode_search        "#[bg=$surface_dark,fg=$flamingo,bold] SEARCHARCH #[fg=$surface_dark]"
      mode_resize        "#[bg=$surface_dark,fg=$yellow,bold] RESIZE #[fg=$surface_dark]"
      mode_rename_tab    "#[bg=$surface_dark,fg=$yellow,bold] RENAME-TAB #[fg=$surface_dark]"
      mode_rename_pane   "#[bg=$surface_dark,fg=$yellow,bold] RENAME-PANE #[fg=$surface_dark]"
      mode_move          "#[bg=$surface_dark,fg=$yellow,bold] MOVE #[fg=$surface_dark]"
      mode_session       "#[bg=$surface_dark,fg=$pink,bold] SESSION #[fg=$surface_dark]"
      mode_prompt        "#[bg=$surface_dark,fg=$pink,bold] PROMPT #[fg=$surface_dark]"

      tab_normal              "#[fg=$surface0]#[bg=$surface0,fg=$silver_light,bold]{index}#[bg=$surface_dark,fg=$surface0]#[bg=$surface_dark,fg=$silver] {name}{floating_indicator} #[fg=$surface_dark]"
      tab_normal_fullscreen   "#[fg=$surface0]#[bg=$surface0,fg=$silver_light,bold]{index}#[bg=$surface_dark,fg=$surface0]#[bg=$surface_dark,fg=$silver] {name}{fullscreen_indicator} #[fg=$surface_dark]"
      tab_normal_sync         "#[fg=$surface0]#[bg=$surface0,fg=$silver_light,bold]{index}#[bg=$surface_dark,fg=$surface0]#[bg=$surface_dark,fg=$silver] {name}{sync_indicator} #[fg=$surface_dark]"
      tab_active              "#[fg=$silver]#[bg=$silver,fg=$surface_dark,bold]{index}#[bg=$surface0,fg=$silver]#[bg=$surface0,fg=$silver_light,bold] {name}{floating_indicator} #[fg=$surface0]"
      tab_active_fullscreen   "#[fg=$silver]#[bg=$silver,fg=$surface_dark,bold]{index}#[bg=$surface0,fg=$silver]#[bg=$surface0,fg=$silver_light,bold] {name}{fullscreen_indicator} #[fg=$surface0]"
      tab_active_sync         "#[fg=$silver]#[bg=$silver,fg=$surface_dark,bold]{index}#[bg=$surface0,fg=$silver]#[bg=$surface0,fg=$silver_light,bold] {name}{sync_indicator} #[fg=$surface0]"
      tab_separator           " "

      tab_sync_indicator       " "
      tab_fullscreen_indicator " 󰊓"
      tab_floating_indicator   " 󰹙"

      notification_format_unread "#[bg=surface0,fg=$yellow]#[bg=$yellow,fg=$crust] #[bg=$surface1,fg=$yellow] {message}#[fg=$yellow]"
      notification_format_no_notifications ""
      notification_show_interval "10"

      datetime          "{format}"
      datetime_format   "%Y-%m-%d  %H:%M:%S "
      datetime_timezone "Europe/Saratov"
    }
  }
  pane
}

