themes {
    custom {
        bg "#313244"
        fg "#bfc6d4"
        red "#f38ba8"
        green "#9ccfd8"
        blue "#89b4fa"
        yellow "#f6c177"
        magenta "#cba6f7"
        orange "#fae3b0"
        cyan "#56b6c2"
        black "#282737"
        white "#d9e0ee"
    }
}
